[Unit]
Description=rginx edge reverse proxy
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=rginx
Group=rginx
WorkingDirectory=/etc/rginx
RuntimeDirectory=rginx
RuntimeDirectoryMode=0755
ExecStart=/usr/sbin/rginx --config /etc/rginx/rginx.ron
ExecReload=/usr/sbin/rginx --config /etc/rginx/rginx.ron -s reload
ExecStop=/usr/sbin/rginx --config /etc/rginx/rginx.ron -s quit
Restart=on-failure
RestartSec=2
LimitNOFILE=65535
NoNewPrivileges=yes
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/etc/rginx /run

[Install]
WantedBy=multi-user.target
