Config(
    runtime: RuntimeConfig(
        shutdown_timeout_secs: 10,
    ),
    server: ServerConfig(
        listen: "0.0.0.0:8080",
        trusted_proxies: [
            "10.0.0.0/8",
            "192.168.0.0/16",
        ],
        access_log_format: Some("reqid=$request_id remote=$remote_addr peer=$peer_addr route=$route status=$status bytes=$body_bytes_sent elapsed=$request_time_ms"),
        config_api_token: Some("change-me-admin-token"),
    ),
    upstreams: [
        UpstreamConfig(
            name: "backend",
            peers: [
                UpstreamPeerConfig(
                    url: "http://127.0.0.1:9000",
                ),
            ],
            connect_timeout_secs: Some(3),
            read_timeout_secs: Some(30),
            write_timeout_secs: Some(30),
            idle_timeout_secs: Some(60),
            pool_idle_timeout_secs: Some(90),
            pool_max_idle_per_host: Some(64),
            tcp_keepalive_secs: Some(30),
            tcp_nodelay: Some(true),
        ),
    ],
    locations: [
        LocationConfig(
            matcher: Exact("/"),
            handler: Static(
                status: Some(200),
                content_type: Some("text/plain; charset=utf-8"),
                body: "rginx admin example is running.\n",
            ),
        ),
        LocationConfig(
            matcher: Exact("/healthz"),
            handler: Static(
                status: Some(200),
                content_type: Some("text/plain; charset=utf-8"),
                body: "ok\n",
            ),
        ),
        LocationConfig(
            matcher: Exact("/status"),
            handler: Status,
            allow_cidrs: [
                "127.0.0.1/32",
                "::1/128",
                "10.0.0.0/8",
                "192.168.0.0/16",
            ],
        ),
        LocationConfig(
            matcher: Exact("/metrics"),
            handler: Metrics,
            allow_cidrs: [
                "127.0.0.1/32",
                "::1/128",
                "10.0.0.0/8",
                "192.168.0.0/16",
            ],
        ),
        LocationConfig(
            matcher: Exact("/-/config"),
            handler: Config,
            allow_cidrs: [
                "127.0.0.1/32",
                "::1/128",
                "10.0.10.0/24",
            ],
        ),
        LocationConfig(
            matcher: Prefix("/api"),
            handler: Proxy(
                upstream: "backend",
            ),
            requests_per_sec: Some(50),
            burst: Some(25),
        ),
    ],
)
